---
BasedOnStyle: Google
IndentWidth:  4
TabWidth:     8
UseTab:       Never
# NOTE(2019-02-23, uklotzde) The column limit has been set to 0
# to avoid eagerly reformatting of the existing code base. This
# may later be changed to 80-100 characters per line if desired.
ColumnLimit:  0
---
Language:     Cpp
AccessModifierOffset: -2
AlignAfterOpenBracket: AlwaysBreak
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
IndentCaseLabels: false
ReflowComments: false
SpacesBeforeTrailingComments: 1
SpaceBeforeRangeBasedForLoopColon: false
---
Language: JavaScript
---
Language: Proto
# Don't format .proto files.
DisableFormat: true
...
