*.diff
*.log
*.o
*.orig
*.os
*.patch
*.pyc
*.rej
*_build
*~
.#*
.sconf_temp
.sconsign.branch
.sconsign.dblite
*.sqlite
*.cfg
!/res/keyboard/*.cfg
cache
lib/*/*.a
lib/*/lib/*.a
mixxx
mixxx-test
src/test/test_data
res/qrc_mixxx.cc
res/developer_skins
