language: c++
matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
      compiler: gcc

    - os: osx
      osx_image: xcode7.2
      compiler: clang
# install dependencies
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libchromaprint-dev
      - libfaad-dev
      - libfftw3-dev
      - libflac-dev
      - libid3tag0-dev
      - libmad0-dev
      - libmodplug-dev
      - libmp4v2-dev
      - libopusfile-dev
      - libportmidi-dev
      - libprotobuf-dev
      - libqt4-dev
      - libqt4-sql-sqlite
      - librubberband-dev
      - libshout3-dev
      - libsndfile1-dev
      - libsqlite3-dev
      - libtag1-dev
      - libupower-glib-dev
      - libusb-1.0-0-dev
      - libvamp-hostsdk3
      - libwavpack-dev
      - portaudio19-dev
      - protobuf-compiler
      - scons
      - vamp-plugin-sdk
before_install:
  # Virtual X, needed for analyzer waveform tests
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export DISPLAY=:99.0         ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sh -e /etc/init.d/xvfb start ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install scons portaudio libsndfile libogg libvorbis portmidi taglib libshout protobuf flac libjpeg qt chromaprint rubberband fftw libmodplug libid3tag libmad mp4v2 faad2 wavpack opusfile; fi

install:
  ####
  # Common

  # Build flags common to OS X and Linux.
  - export COMMON="test=1 localecompare=1 mad=1 faad=1 opus=1 modplug=1 wv=1 hss1394=0 virtualize=0 debug_assertions_fatal=1"

  #####
  # Ubuntu Trusty Build

  ####
  # OS X Build

  # Define QTDIR.
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export QTDIR=$(find /usr/local/Cellar/qt -d 1 | tail -n 1) ; fi

  # Workaround for bug in libopus's opus.h including <opus_multistream.h>
  # instead of <opus/opus_multistream.h>.
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export CXXFLAGS="-isystem /usr/local/include/opus" ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export CFLAGS="-isystem /usr/local/include/opus" ; fi

  # We support OS X 10.7 by default.
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export ARCH_FLAGS="osx_sdk_version_min=10.7" ; fi

  ####
  # Common Build

  - scons $COMMON $ARCH_FLAGS

script:
  - ./mixxx-test
