/* hack around text getting cut off with scaled checkbox on Macs with Retina screens */
WEffectSelector QAbstractItemView {
	margin: 0px 0px 0px -4px; /* no matter if padding or margin, the left border is gone */
}

WEffectSelector:item
{
	border: 0px;         /* puts tick mark behind item text */
	padding-left: 14px;  /* move text right to make room for tick mark */
}

