WBeatSpinBox {
	color: #101307;
	background-color: #ad9e4f;
}

WEffectSelector {
	color: #101307;
	background-color: #ad9e4f;
}

#EffectSelectorGroup[highlight="1"]{ 
	border: 1px solid #f8ba54;  
} 
#EffectSelectorGroup[highlight="0"]{ 
	border: 0px solid #f8ba54;  
}

