<!DOCTYPE template>
<Template>

    <WidgetGroup>
        <ObjectName>OuterConfigBox</ObjectName>
        <Layout>horizontal</Layout>
        <SizePolicy>me,me</SizePolicy>
        <Children>

            <WidgetGroup>
                <ObjectName>InnerConfigBox</ObjectName>
                <Layout>vertical</Layout>
                <Size>130f,60f</Size>
                <Children>

                    <Label>
                        <ObjectName>ConfigHeadline</ObjectName>
                        <Size>100f,25f</Size>
                        <Elide>left</Elide>
                        <Alignment>left</Alignment>
                        <Text>Microphone <Variable name="Number"/></Text>
                    </Label>

                    <Template src="skin:device/microphone/config_controls.xml">
                        <SetVariable name="Tooltip">Show/hide the Channel VU Meter.</SetVariable>
                        <SetVariable name="Label">VU-Meter</SetVariable>
                        <SetVariable name="Group">[Microphones]</SetVariable>
                        <SetVariable name="Widget">show_vumeter</SetVariable>
                    </Template>

                </Children>
            </WidgetGroup>

        </Children>
        <Connection>
            <ConfigKey>[Master],skin_settings</ConfigKey>
            <BindProperty>visible</BindProperty>
        </Connection>
    </WidgetGroup>

</Template>