[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Mixxx
Comment=A digital DJ interface
Exec=pasuspender mixxx
Terminal=false
Icon=ic_mixxx
Type=Application
Categories=AudioVideo;Audio;
GenericName[en_CA]=
