<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <uses-feature android:name="android.software.midi" android:required="true" />
    <uses-permission android:name="android.permission.BIND_MIDI_DEVICE_SERVICE" />
    
    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_manage"
        android:label="LibreMIDI Example"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>
    
</manifest>