[submodule "eigen"]
	path = submodules/eigen
	url = https://gitlab.com/libeigen/eigen.git
	shallow = true
[submodule "cxxopts"]
	path = submodules/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
	shallow = true
[submodule "submodules/pffft"]
	path = submodules/pffft
	url = https://bitbucket.org/jpommier/pffft.git
