{
  "presets": [
    ["env", { "modules": false }]
  ],
  "plugins": [
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals",
    "transform-class-properties",
    "transform-flow-strip-types",
    "external-helpers"
  ]
}
