/* Previously necessary hack to hide the checkmark, otherwise text gets cut off
on the right on Retina screens. This can only be done for macOS
because it cuts off text on the left on KDE
WEffectSelector QAbstractItemView {
  margin: 0 0 0 -26px;
} */

/* hide the checkmark just in case the above shows a
partial checkmark on some untested screen
WEffectSelector::indicator {
    border: 0;
} */


#LibraryBPMSpinBox {
  padding: 0px;
  margin: 0px;
}

