[Desktop Entry]
Version=1.0
Name=Mixxx
Name[de]=Mixxx
GenericName=Digital DJ interface
GenericName[de]=Digitales DJ-System
GenericName[fr]=Interface numérique pour DJ
Comment=A digital DJ interface
Comment[de]=Ein digitales DJ-System
Comment[fr]=Une interface numérique pour DJ
Exec=sh -c "pasuspender -- mixxx -platform xcb || mixxx -platform xcb"
Terminal=false
Icon=mixxx
Type=Application
StartupNotify=true
Categories=Qt;AudioVideo;Audio;Midi;Mixer;Player;Recorder;Sequencer;
