#define GIT_YEAR                    "@GIT_YEAR@"
#define WINDOWS_RC_VERSION          @WINDOWS_RC_VERSION@

#if @MIXXX_DEBUG@
    #define DEBUG
#endif

#if @MIXXX_PRERELEASE@
    #define PRERELEASE
#endif

#if @MIXXX_PATCHED@
    #define PATCHED
#endif
