# yaml-language-server: $schema=https://json.schemastore.org/github-workflow
name: CLA Check
on:
  pull_request_target:
    branches:
      - main
      - "[0-9].[0-9]"

permissions:
  id-token: write
  pull-requests: write

jobs:
  check-cla:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/cla-check
        with:
          pr-number: ${{ github.event.pull_request.number }}
