name: Git Checks

on:
  workflow_call:

jobs:
  block-fixup:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4.2.2
      - name: Block Fixup Commit Merge
        uses: 13rac1/block-fixup-merge-action@v2.0.0
