name: Softfix workflow
on:
  issue_comment:
    types: [created]
  push:
    branches:
      - chore/prepare-flatpak-ci

jobs:
  softfix:
    name: Softfix action
    if: github.event.issue.pull_request != '' && startsWith(github.event.comment.body, '/softfix')
    runs-on: ubuntu-latest
    steps:
      - name: Check if commenter is maintainer
        id: check-maintainer
        uses: actions/github-script@v8
        with:
          script: |
            const response = await github.rest.repos.getCollaboratorPermissionLevel({
              owner: context.repo.owner,
              repo: context.repo.repo,
              username: context.payload.comment.user.login
            });

            const isMaintainer = ['admin', 'write'].includes(response.data.permission);
            return isMaintainer;
      - name: Checkout repository
        if: steps.check-maintainer.outputs.result == 'true'
        uses: actions/checkout@v6
      # Using an app is the recommended way to allow recursive operations.
      # Apps offer a way to have reduced scoped permissions (like GITHUB_TOKEN)
      # and short lifespan, unlike PAT.
      # As we are trialing this approach tho, it is fine to play with a PAT and not spend the
      # extra time setting up an app
      #
      # - name: Generate App Token
      #   id: generate-token-key-pair
      #   if: steps.check-maintainer.outputs.result == 'true'
      #   uses: actions/create-github-app-token@v1
      #   with:
      #     private-key: ${{ secrets.MIXXX_BOT_APP_PRIVATE_KEY }}
      #     app-id: ${{ vars.MIXXX_BOT_APP_ID }}
      - name: Softfix
        if: steps.check-maintainer.outputs.result == 'true'
        uses: daschuer/softfix@v4
        env:
          # PAT setup with content:write and pull_request:write
          GITHUB_TOKEN: ${{ secrets.MIXXX_SOFTFIX_PAT }}

  publish-flatpak:
    name: Publish Flatpak build
    # if: github.event.issue.pull_request != '' && startsWith(github.event.comment.body, '/softfix')
    runs-on: ubuntu-latest
    steps:
      # - name: Check if commenter is maintainer
      #   id: check-maintainer
      #   uses: actions/github-script@v8
      #   with:
      #     script: |
      #       const response = await github.rest.repos.getCollaboratorPermissionLevel({
      #         owner: context.repo.owner,
      #         repo: context.repo.repo,
      #         username: context.payload.comment.user.login
      #       });

      #       const isMaintainer = ['admin', 'write'].includes(response.data.permission);
      #       return isMaintainer;

      - name: "Prepare the download server"
        # if: steps.check-maintainer.outputs.result == 'true'
        run: |
          ssh "${SSH_USER}@${SSH_HOST}" <<EOF
          sudo apt-get update
          sudo apt-get install -y flatpak ostree
          if [ ! -d ~/public_html/downloads/flatpak ]; then
            ostree --repo=~/public_html/downloads/flatpak init --mode=archive-z2
          fi
          EOF

      # TODO find the latest build on the given PR

      - name: "Download bundles"
        # if: steps.check-maintainer.outputs.result == 'true'
        uses: actions/download-artifact@v7
        with:
          pattern: Flatpak*
          path: bundles
          merge-multiple: true
          run-id: 21939142014

      - name: "[Ubuntu] Import PPA GPG key"
        # if: startsWith(matrix.os, 'ubuntu') && env.RRYAN_AT_MIXXX_DOT_ORG_GPG_PRIVATE_KEY != null
        run: gpg --import <(echo "${RRYAN_AT_MIXXX_DOT_ORG_GPG_PRIVATE_KEY}")
        env:
          RRYAN_AT_MIXXX_DOT_ORG_GPG_PRIVATE_KEY: ${{ secrets.RRYAN_AT_MIXXX_DOT_ORG_GPG_PRIVATE_KEY }}

      - name: "Create repo directory"
        # if: steps.check-maintainer.outputs.result == 'true'
        env:
          RUN_ID: ${{ github.run_id }}
          KEYID: rryan@mixxx.org
        run: |
          set -x
          for file in bundles/*.flatpak; do
            rsync rsync --verbose --recursive --checksum --times --delay-updates "$file" "${SSH_USER}@${SSH_HOST}:/tmp/$file"
            ssh "${SSH_USER}@${SSH_HOST}" <<EOF
            set -x
            gpg --homedir "/tmp/flatpak-$RUN_ID" --import <(echo "${{ secrets.RRYAN_AT_MIXXX_DOT_ORG_GPG_PRIVATE_KEY }}")
            echo flatpak build-import-bundle --gpg-sign=$KEYID --gpg-homedir="/tmp/flatpak-$RUN_ID" ~/public_html/downloads/flatpak
            rm -r "/tmp/flatpak-$RUN_ID" "/tmp/$file"
            EOF
          done
