# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: "Detect stale issues"
on:
  schedule:
  - cron: "0 0 * * *"

permissions:
  contents: read

jobs:
  stale:
    permissions:
      issues: write  # for actions/stale to close stale issues
      pull-requests: write  # for actions/stale to close stale PRs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@v6
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: "This issue is marked as stale because it has been open 90 days with no activity."
        stale-issue-label: "stale"
        stale-pr-message: "This PR is marked as stale because it has been open 90 days with no activity."
        stale-pr-label: "stale"
        days-before-stale: 90
        days-before-close: -1
        exempt-pr-labels: "needs review"
