<?xml version="1.0" encoding="utf-8"?>
<MixxxControllerPreset schemaVersion="1" mixxxVersion="1.11+">
    <info>
        <name>Apple Bluetooth Trackpad</name>
        <author>Ilkka Tuohela</author>
        <description>HID example for Apple Bluetooth Trackpad</description>
        <devices>
            <product protocol="hid" vendor_id="0x5ac" product_id="0x30e" usage_page="0x1" usage="0x2" interface_number="0x1" />
        </devices>
    </info>
    <controller id="Apple Bluetooth Trackpad">
        <scriptfiles>
            <file filename="common-hid-packet-parser.js" functionprefix=""/>
            <file filename="common-hid-devices.js" functionprefix=""/>
            <file filename="Apple Bluetooth Trackpad.js" functionprefix="AppleBluetoothTrackpad"/>
        </scriptfiles>
    </controller>
</MixxxControllerPreset>
